{% extends "resizer/home.html" %}

{% block content %}
    <h2>Uploaded image</h2>
    <p>Your image ID: <strong>{{ image.pk }}</strong></p>
    <h2>Resize your image:</h2>
    <form method="post" action="{% url 'resizer:resize' image.pk %}">
        {% csrf_token %}
        <label for="height">Height (1 - 9999 px)</label>
        <input type="number" name="height" min="1" max="9999" required="required">
        <label for="width">Width (1 - 9999 px)</label>
        <input type="number" name="width" min="1" max="9999" required="required">
        <button type="submit">Resize</button>
    </form>
    <br>
    <img src="{{ image.image.url }}">
{% endblock content %}