{% extends "resizer/home.html" %}


{% block content %}
    <h2>Select file to upload:</h2>
    <form action="{% url 'resizer:upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'resizer/includes/custom_form.html' with form=form %}
        <button type="submit">Resize</button>
        <br>
        {% if task_id %}
            <h2>Task</h2>
            Task ID: {{ task_id }} <a href="{% url 'resizer:task' task_id %}">Check status</a>
        {% endif %}
    </form>
{% endblock content %}